<html>
<body>
The Order of API listed below is Important.

/createRoom<br>
returns room_id of new room
<br><br>
/addUser/room_id<br>
returns user_id of new user added to room room_id
<br><br>
/closeRoom/room_id<br>
deletes room room_id if created, then returns status
<br><br>
/getUsers/room_id<br>
get list of user_id in room_id 
<br><br>
/startPlayer/room_id<br>
start player in room_id 
<br><br>
/seekTo/room_id/seek_time<br>
seek to seek_time(seconds) in room_id
<br><br>
/getCurrentSecond/room_id<br>
get current time in room_id
</body>
</html>