<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body id = "body" style="margin-left: 20px; color:white; background-color: black;">
        <h1>Welcome to SyncPlayer Web</h1>
    	<b><u>Instructions:</u></b><br>
    	1. load a video<br>
    	2. create a room and control player as host or join a room using room id<br>
    	3. sit back and enjoy<br>
    	4. Optionally, <a href="http://harmonpreet012.centralindia.cloudapp.azure.com:8000/">checkout API</a><br>
        <input type="file" accept="video/*"/><br>
        <div id="player-div">
            <video id="video-player" width="800" height="300" controls>
            </video>
            <div id="chatroom" style="float:right; border-color: white; margin-right: 20px; border-width: 4px; border-style: solid; padding: 4px;">
                <h3 ><u>Chat room:</u></h3>
                <p id="chats">please create or join a room to start chatting.</p>
                <input id="user-name-input" value="user name" type="text" style="margin-top:200px" /><br>
                <input id="chat-box-input" value="message" type="text" />
                <button id="send-chat-button">message</button>
            </div>
        </div>
        <br>
        <p id="room-id">Please create a room, then start player as host</p>
        <div id="create-room-div">
            <button id="create-room-button">Create Room</button>
            <button id = "start-player-as-host">Start Player as host</button> 
        </div>
        <div id="join-room-div">
            <br>&nbsp; OR
            <input type="text" id="custom-room-id" value="Enter room-id to start as guest"></input><button id = "start-player-as-guest">Start Player-as-guest</button><br> 
        </div>
        <b>NOTE: Your videos are not sent to our servers, only current playback time is sent and recieved. All users must have their copy of video on their local machines.</b>
        <br>For reporting any bugs, reach me out at: github.com/harmonpreet012
        <br><button onclick="switchColorScheme()">Switch colour scheme?</button>
        
    </body>
</html>

<script>
    document.getElementById("chat-box-input").disabled="true";
    document.getElementById("user-name-input").disabled="true";
    document.getElementById("send-chat-button").disabled="true";
    function switchColorScheme()
    {
        if(document.getElementById("body").style.color== "white")
            document.getElementById("body").style.color = "black";
        else
            document.getElementById("body").style.color = "white";
        
        if(document.getElementById("body").style.backgroundColor== "white")
            document.getElementById("body").style.backgroundColor = "black";
        else
            document.getElementById("body").style.backgroundColor = "white";
        
    }
    var prevFetch=-1;
    function seekTo(second)
    {
        var vid = document.getElementById("video-player");
        if(second == prevFetch)
        {
            vid.pause();
            return ;
        }
        prevFetch = second;
        if(Math.abs(vid.currentTime-second)>5)
        {
            vid.currentTime = second;
            vid.play();
        }
    }
    var roomId=-1;
    $(document).ready(function(){
        var APIstring = "http://harmonpreet012.centralindia.cloudapp.azure.com:";
        
        $("#create-room-button").click(function(){
            if(roomId!=-1)
            {
                $.getJSON(APIstring+"8000/closeRoom/"+roomId, function(data){
                    console.log(data);
                    roomId = -1;
                    document.getElementById("create-room-button").innerHTML="Create room";
                    document.getElementById("room-id").innerHTML="Please create a room";
                }); 
                return ;  
            }
            
            $.getJSON(APIstring+"8000/createRoom", function(data){
                document.getElementById("room-id").innerHTML = "Yout Room id: "+data["Room-id"];
                roomId = data["Room-id"]; 
                document.getElementById("create-room-button").innerHTML="close room";
                document.getElementById("join-room-div").style.display="none";
                
                $.getJSON(APIstring+"8001/createRoom/"+roomId, function(data1)
                {
                        document.getElementById("chat-box-input").disabled=false;
                        document.getElementById("user-name-input").disabled=false;
                        document.getElementById("send-chat-button").disabled=false;
                        setInterval(function(){
                            $.getJSON(APIstring+"8001/getMessages/"+roomId, function(data2){
                            document.getElementById("chats").innerHTML="";
                            for( var i=data2.length-1 ; i>Math.max(-1, data2.length-7) ; i--)
                                document.getElementById("chats").innerHTML +="<b>"+data2[i][0]+"</b>: "+data2[i][1]+ "<br>";
                            }); 
                    }, 3000);
                });
                
            });
            
            
        });
        $("#send-chat-button").click(function(){
            myMessage= document.getElementById("chat-box-input").value;
            myname = document.getElementById("user-name-input").value;
            $.getJSON(APIstring+"8001/sendMessage/"+roomId+"/"+myname+"/"+myMessage, function(data){
                console.log(data);
            });
        });

        var tempInterval=-1;
        $("#start-player-as-guest").click(function()
        {
            roomId = document.getElementById("custom-room-id").value;
            document.getElementById("create-room-div").style.display="none";
            document.getElementById("join-room-div").style.display="none";
            document.getElementById("room-id").innerHTML="You joined room: " +roomId;
            document.getElementById("chat-box-input").disabled=false;
            document.getElementById("user-name-input").disabled=false;
            document.getElementById("send-chat-button").disabled=false;
            
            if(tempInterval!=-1)
                clearInterval(tempInterval);
               
                    tempInterval = setInterval(function(data2){
                        $.getJSON(APIstring+"8000/getCurrentSecond/"+roomId, function(data2){
                            seekTo(data2["second"]);
                        });
                    }, 5000);
                    setInterval(function(){
                            $.getJSON(APIstring+"8001/getMessages/"+roomId, function(data3){
                            document.getElementById("chats").innerHTML="";
                                
                            for( var i=data2.length-1 ; i>Math.max(-1, data2.length-7) ; i--)
                                document.getElementById("chats").innerHTML +="<b>"+data2[i][0]+"</b>: "+data2[i][1]+ "<br>";
                            }); 
                    }, 3000);
            
        });
        $("#start-player-as-host").click(function()
        {
            if(roomId!=-1)
            {
                document.getElementById("start-player-as-host").innerHTML="player started";
                document.getElementById("join-room-div").style.display="none";
                document.getElementById("start-player-as-host").disabled="true";
                document.getElementById("create-room-button").style.display="none";
                
                $.getJSON(APIstring+"8000/startPlayer/"+roomId, function(data){
                        setInterval(function(){
                            console.log(data);
                            var currSec = document.getElementById("video-player").currentTime;
                            currSec = Math.floor(currSec);
                            $.getJSON(APIstring+"8000/seekTo/"+roomId+"/"+currSec);
                        
                        }, 3000);
                });
            }
            else
                alert("please create a room first");
        });
    
    });

    (function localFileVideoPlayer() {
	'use strict'
  var URL = window.URL || window.webkitURL
  
  var playSelectedFile = function (event) {
    var file = this.files[0]
    var type = file.type
    var videoNode = document.querySelector('video')
    var canPlay = videoNode.canPlayType(type)
    
    var fileURL = URL.createObjectURL(file)
    videoNode.src = fileURL
  }
  var inputNode = document.querySelector('input')
  inputNode.addEventListener('change', playSelectedFile, false)
})()
</script>
